<!DOCTYPE html>
<html>
<head>
  <title>Donor</title>
</head>
<body>
  <h1>Donor</h1>
  <form action="/" method="post">
    <label for="donorlastname">Nom</label>
    <input type="text" name="donorlastname" id="donorlastname"><br>
    <label for="donorfirstname">Prénom</label>
    <input type="text" name="donorfirstname" id="donorfirstname"><br>
    <label for="donorphone">Téléphone</label>
    <input type="text" name="donorphone" id="donorphone"><br>
    <label for="donoraddress">Adresse</label>
    <input type="text" name="donoraddress" id="donoraddress"><br>
    <label for="donorhour">Heure de passage</label>
    <input type="text" name="donorhour" id="donorhour"><br>
    <label for="donormail">E-mail</label>
    <input type="text" name="donormail" id="donormail"><br>
    <label for="donorcomment">Commentaire</label>
    <input type="text" name="donorcomment" id="donorcomment"><br>
    <button type="submit">Ajouter</button>
  </form>
</body>
</html>